{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
	<div class="container">
<form method="GET" action="/search">
	<div class="form-group">
<input class="form-control" type="text" name="searchTitle">
</div>
<input type="submit" class="btn btn-default">
{% if search == True %}
  {% if movieData.Response == "True" %}
    <br>
    <h4>{{ movieData.Title }} ({{ movieData.Year }})</h4>
    {% for key, value in movieData.items %}
      {% if key == 'Ratings' %}
        <td> {{ key }}:
           {% for i in value %}
            <br>{% for k,v in i.items %}
              <br>{{ k }}: {{ v }}
                {% endfor %}
           {% endfor %} 
        </td>
        <br>
      {% endif %}
      <tr>
        <td> {{ key }}: </td> <td> {{ value }} </td><br>
      </tr>
    {% endfor %}

  {% else %}
    <p>Movie not found.</p>
  {% endif %}

{% endif %}
</div>

{% endblock %}
