{% extends "base.html" %}

{% block content %}
<div class="container">
  {% if search == True %}
    {% if movieData.Response == "True" %}
      <br>
      <h4>{{ movieData.Title }} ({{ movieData.Year }})</h4>
      {% for key, value in movieData.items %}
        {% if key == 'Ratings' %}
          <td> {{ key }}:
             {% for i in value %}
                <li>{% for k,v in i.items %}
                  {{ k }}: {{ v }}
                {% endfor %}
             {% endfor %} 
          </td>
          <br>
        {% endif %}
        <tr>
          {% if key != 'Ratings' and key != 'Title' and key != 'Year' %}
          <td> {{ key }}: </td> <td> {{ value }} </td><br>
          {% endif %}
        </tr>
      {% endfor %}

    {% else %}
      <p>Movie not found.</p>
    {% endif %}

  {% endif %}
</div>

{% endblock %}
