{% extends "base.html" %}

{% block content %}
	<div class="container">

    <h1>Movies List</h1>

    {% if movie_list %}
    <ul>
      {% for movie in movie_list %}
        <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a> ({{ movie.data.Year }}) |
        <a href="{% url 'comment_form' %}">Add comment</a> |
        <a href="{% url 'comment_list_by_id' movie.id %}">Read comments</a></p>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no movies in the database.</p>
    {% endif %}     

</div>

{% endblock %}
